<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SDS</title>
    <meta name="description" content="UP TCM DASHBOARD">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">-->
    <link rel='icon' href='/home/landing/images/favicon.png' type='image/x-icon'>
    <link rel="stylesheet" href="/portal/assets/css/normalize.css">
    <link rel="stylesheet" href="/portal/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/portal/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/portal/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/portal/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/portal/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/portal/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/portal/assets/scss/style.css">

    <link rel="stylesheet" href="/portal/ajax/fonts.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/sds/dashboard">SDS</a>
                <a class="navbar-brand hidden" href="/sds/dashboard">SDS</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/sds/dashboard"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">CONFIGURATION</h3>
                    
                    <% if(role == 'superadmin') { %> 
                        <li>
                            <a href="/sds/admin"> <i class="menu-icon fa fa-dashboard"></i>Admin </a>
                        </li>
                        <li>
                            <a href="/sds/users"> <i class="menu-icon fa fa-dashboard"></i>Users </a>
                        </li>
                        <li>
                            <a href="/sds/voucher/create"> <i class="menu-icon fa fa-dashboard"></i>Voucher Denomination </a>
                        </li>
                        <li>
                            <a href="/sds/superadmin/blacklist"> <i class="menu-icon fa fa-dashboard"></i>Blacklist </a>
                        </li>
                        <li>
                            <a href="/sds/ui"> <i class="menu-icon fa fa-dashboard"></i>Voucher Management </a>
                        </li>
                    <% }else{ %>
                        <% if(role == 'admin') { %>
                            <li>
                                <a href="/sds/ui"> <i class="menu-icon fa fa-dashboard"></i>Voucher Management </a>
                            </li>
                            <li>
                                <a href="/sds/upload/records"> <i class="menu-icon fa fa-dashboard"></i>Upload Records </a>
                            </li>
                        <% }else{ %>
                            <li>
                                <a href="/sds/claim/payment"> <i class="menu-icon fa fa-dashboard"></i>Claim Payment </a>
                            </li>

                            <li>
                                <a href="/sds/wallet/details"> <i class="menu-icon fa fa-dashboard"></i>Wallet Details </a>
                            </li>

                            <li>
                                <a href="/sds/generate/voucher"> <i class="menu-icon fa fa-dashboard"></i>Generate Voucher </a>
                            </li>
                        <% } %>
                    <% } %>

                    <h3 class="menu-title">Password</h3>
                      <li class="menu-item-has-children dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Password</a>
                          <ul class="sub-menu children dropdown-menu">
                              <li><i class="fa fa-bars"></i><a href="/sds/changepassword">Change Password</a></li>
                          </ul>
                    </li>

                    <h3 class="menu-title">CLOSE</h3><!-- /.menu-title -->
                    <li>
                        <a id="logout_cool" href="/sds/dashboard"> <i class="menu-icon fa fa-dashboard"></i>Logout </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                        
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1><%= name %></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li id="time_update" class="active"><%= time %></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
                <% if(role == 'user') { %> 
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Aval. Bal: <%= amount %></strong>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <% if(justset == 'true') { %> 
                    <div class="col-sm-12">
                        <div class="alert  alert-success alert-dismissible fade show" role="alert">
                          <span class="badge badge-pill badge-success"><%= name %> </span> please activate your account.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                <% } %>
                
                <% if(role == 'user') { %> 
                    <div class="col-lg-3 col-md-6">
                        <div class="social-box facebook">
                            <i class="fa fa-id-card-o"></i>
                            <br>
                            <span><%= leng %></span>
                            <br>
                            <span>All Vouchers</span>
                            <br><br>
                        </div>
                        <!--/social-box-->
                    </div><!--/.col-->
        
        
                    <div class="col-lg-3 col-md-6">
                        <div class="social-box twitter">
                            <i class="fa fa-share-square-o"></i>
                            <br>
                            <span><%= used %></span>
                            <br>
                            <span>Used Vouchers</span>
                            <br><br>
                        </div>
                        <!--/social-box-->
                    </div><!--/.col-->
        
        
                    <div class="col-lg-3 col-md-6">
                        <div class="social-box linkedin">
                            <i class="fa fa-fire"></i>
                            <br>
                            <span><%= unused %></span>
                            <br>
                            <span>Unused Vouchers</span>
                            <br><br>
                        </div>
                        <!--/social-box-->
                    </div><!--/.col-->
        
        
                    <div class="col-lg-3 col-md-6">
                        <div class="social-box google-plus">
                            <i class="fa fa-exclamation-triangle"></i>
                            <br>
                            <span><%= vod %></span>
                            <br>
                            <span>Void Vouchers</span>
                            <br><br>
                        </div>
                    </div><!--/.col-->
                <% } %>


                <div class="col-sm-12">
                    <div class="alert  alert-success alert-dismissible fade show" role="alert">
                      <span class="badge badge-pill badge-success"><%= name %> </span> welcome to SDS.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

        </div><!-- .content -->


    </div><!-- /#right-panel -->

    
    
    <script src="/portal/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/portal/assets/js/popper.min.js"></script>
    <script src="/portal/assets/js/plugins.js"></script>
    <script src="/portal/assets/js/main.js"></script>
    <!--  flot-chart js -->
    <script src="/portal/assets/js/lib/flot-chart/excanvas.min.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/jquery.flot.pie.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/jquery.flot.time.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/jquery.flot.stack.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/curvedLines.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="/portal/assets/js/lib/flot-chart/flot-chart-init.js"></script>

    <script src="/portal/ajax/jquery.js"></script>
    <script src="/portal/ajax/sweetalert2.all.min.js"></script>
    <script src="/portal/ajax/ajaxdisplay.js"></script>

</body>
</html>
